.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  margin-bottom: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bich-table > tr > td {
  padding: 0 10px;
  height: 50px;
  font-size: 25px;
  border: 1px solid white;
}

.bich-table > tr > th {
  padding: 0 10px;
  border: 1px solid white;
}

.bich-table > tr > td:hover, .bich-table > tr > th:hover{
  background: #61dafb47;
}

.calculateResult {
  position: absolute !important;
  top: 30px;
  right: 30px;
  width: fit-content;
  height: fit-content;
  font-size: 25px;
  display: flex;
  background-color: #61dafbfc !important;
  color: black !important;
  align-items: center;
  justify-content: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
